.form-container {
	width: 34%;
	padding: 16px;
	border-radius: 10px;
	box-shadow:0 0 5px rgba(0, 0, 0, .3), inset 0 0 6px #fff;
}

.form {
	padding: 16px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow:0 0 5px rgba(0, 0, 0, .3), inset 0 0 6px #fff;

	&-label {
		margin-bottom: 10px;
	}

	&-input {
		width: 100%;
		padding: 4px;
		font-size: 22px;
		border-radius: 4px;
		outline: none;
		border: none;
		font-family: sans-serif;

		&-name {
			margin-bottom: 10px;
			display: inline-block;
			color: #fff;
			font-family: sans-serif;
		}
	}
}
